* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #00008B;
}


nav {
    background-color: var(--background-color);
    padding: 10px
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--background-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

main {
    max-width: 840px;
}

p { padding: 0;}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 100px;
    color: #000;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* class selector */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0,.1);
    background-color: #eee; 
    color: #333;
}

.indent {
    padding-left: 2rem;
}